.resizeForHeader {
  margin-left: 0 !important;
  font-size: 26px !important;
}

.u-line-effect {
  display: inline-block;
  position: relative;
}
.u-line-effect:before {
  left: 0;
  width: 0;
  bottom: 0;
  height: 2px;
  content: "";
  position: absolute;
  background-color: currentColor;
  transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);
}
.u-line-effect:hover:before {
  width: 100%;
}
