@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap"); */

body {
  /* font-family: Poppins; */
  /* font-family: "Poppins"; */
  font-family: "Poppins", sans-serif;
}

.pText {
  color: #130f49;
}
.pColor {
  background-color: #130f49;
}
